/* Physical style */
.containerAreasPhysical {
  width: auto;
  padding-top: 20px;
  padding-bottom: 0.5rem;
  background-color: #1faddf;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

/* Selected */
#buttonContainerPhysicalSelected {
  height: 30px;
  width: 150px;
  padding: 5px;
  color: #1faddf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 45px 0px 0px 45px;
  background-color: white;
}

#buttonPhysicalSelected {
  width: 150px;
  background: none;
  color: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 0;
  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

/* Unselected */
#buttonContainerPhysicalUnselected {
  height: 30px;
  width: 150px;
  padding: 5px;
  color: #1faddf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 45px 0px 0px 45px;
  background-color: #d43571;
}
#buttonPhysicalUnselected {
  width: 150px;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}
/* Social & emotional style */
.containerAreasSocialAndEmotional {
  width: auto;
  padding-top: 20px;
  padding-bottom: 0.5rem;
  background-color: #d43571;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

/* Selected */
#buttonContainerSocialAndEmotionalSelected {
  height: 30px;
  width: 150px;
  padding: 5px;
  color: #d43571;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 0px 45px 45px 0px;
  background-color: white;
}

#buttonSocialAndEmotionalSelected {
  width: 150px;
  background: none;
  color: inherit;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 0;
  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

/* Unselected */
#buttonContainerSocialAndEmotionalUnselected {
  height: 30px;
  width: 150px;
  padding: 5px;
  color: #d43571;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 0px 45px 45px 0px;
  background-color: #1faddf;
}

#buttonSocialAndEmotionalUnselected {
  width: 150px;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}
/* ----------------------- */
#areaSectionTitle {
  color: white;
}

.areaButtonsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
}

#hrDivisor {
  width: 80%;
  border: none;
  height: 0.5px;
  color: #fff;
  background-color: #fff;
}

.skillAreaTitle {
  color: white;
  padding-top: 0.5rem;
}

.descriptionContainer {
  color: white;
  font-weight: normal;
}

.milestonesListContainer {
  padding-left: 10%;
  padding-right: 10%;
}

#areaStateAllButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

#areaStateButtonContainer {
  width: 250px;
  padding: 15px 5px 15px 5px;
  border-width: 0px;
  border-radius: 45px 45px 45px 45px;
  background-color: #75b753;
  transition: 0.2s;
}

#areaStateButtonContainer:hover {
  width: 250px;
  padding: 15px 5px 15px 5px;
  border-width: 0px;
  border-radius: 45px 45px 45px 45px;
  background-color: #5c9142;
  transition: 0.2s;
}

#areaStateButton {
  width: 250px;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#loadingContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
