/* Not answered Style */
.milestoneStateBtnContainerNA {
  min-width: 150px;
  padding: 15px 5px 15px 5px;
  border-width: 0px;
  border-radius: 45px 45px 45px 45px;
  background-color: #e9e9e9;
}

.milestoneStateBtnNA {
  background: none;
  color: #bbbbbb;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Completed style */
.milestoneStateBtnContainerCompleted {
  min-width: 150px;
  padding: 15px 5px 15px 5px;
  border-width: 0px;
  border-radius: 45px 45px 45px 45px;
  background-color: #75b753;
}

.milestoneStateBtnCompleted {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Uncompleted Style */
.milestoneStateBtnContainerUncompleted {
  min-width: 150px;
  padding: 15px 5px 15px 5px;
  border-width: 0px;
  border-radius: 45px 45px 45px 45px;
  background-color: #e9e9e9;
}

.milestoneStateBtnUncompleted {
  background: none;
  color: #75b753;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media screen and (max-width: 500px) {
  .milestoneStateBtnContainerUncompleted {
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2 + 106px);
    top: 472px;

    background: #75b753;
  }
}
